# Firebase
VITE_FIREBASE_API_KEY=seu_api_key
VITE_FIREBASE_AUTH_DOMAIN=seu_auth_domain
VITE_FIREBASE_PROJECT_ID=seu_project_id
VITE_FIREBASE_STORAGE_BUCKET=seu_storage_bucket
VITE_FIREBASE_MESSAGING_SENDER_ID=seu_messaging_sender_id
VITE_FIREBASE_APP_ID=seu_app_id

# API do Senado
VITE_SENADO_API_URL=https://legis.senado.leg.br/dadosabertos
VITE_SENADO_API_VERSAO=v5

# Configurações da aplicação
VITE_APP_TITULO=A República Brasileira
VITE_APP_DESCRICAO=Acompanhamento do Congresso Nacional
VITE_AMBIENTE=desenvolvimento

# Analítica
VITE_ANALYTICS_ID=G-XXXXXXXXXX
